/* Mypage Styles */
.mypage-container {
  display: flex;
}

.side_area {
  width: 20%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  height: 100vh;
}

.logo {
  width: 80px;
  margin-bottom: 100px;
  border-radius: 50%;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 70%; 
  align-items: center;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 22px;
  color: black;
  cursor: pointer;
  line-height: 4;
}

.tab.active {
  color: #3c64c8;
  font-weight: bold;
  text-decoration: underline;
}

.main_area {
  width: 80%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mypage-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.nickname {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}

.actions {
  margin-left: auto;
}

.create-btn, .edit-privacy-btn {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
}

.meeting-list {
  display: flex;
  flex-direction: column;
}

.mypage-filter-buttons {
  margin-bottom: 20px;
  display: flex;
  margin-left: auto; 
}

.mypage-filter-btn {
  background: none;
  border: 0px;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: normal; 
}

.mypage-filter-btn.active {
  font-weight: bold; 
}

.mypage-dropdown-container {
  position: relative;
  display: inline-block;
  width: 120px
}

.mypage-dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  top: 150%;
  padding: 0;
  transform: none;
}

.mypage-dropdown-menu button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  background: white;
  border: none;
  cursor: pointer;
}

.mypage-dropdown-menu button:hover {
  background-color: #ddd;
}

.mypage-meetings {
  position: relative;
  top: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

.meeting-item {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
}

.meeting-profile-image {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
}

.meeting-item .info {
  flex: 1;
  text-align: left;
}

.meeting-item h3 {
  margin: 0 0 10px 0;
  text-align: left;
}

.meeting-item p {
  margin: 5px 0;
  text-align: left;
}

.favorite-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}