.Container {
    flex-direction: row;
}
.Intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    height: 18vh;
    position: relative;
}
#Icon {
    width: 80px;
    height: 80px;
    background-color: rgb(60, 100, 200);
    border-radius: 50%;
}
#Intro-Title {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin-left: 1rem;
}
#Login {
    position: absolute;
    top: 17px;    
    right: 17px;
    padding: 10px 20px;
    font-size: 1rem;
    font: bold;
    cursor: pointer;
}

.Information {
    display: flex;
    align-items: center;
    height: 64vh;
    gap: 40px;
    justify-content: center;
}
#Text {
    margin-left: 200px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text {
    text-align: left;
}
#List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
}
.card {
    background-color: rgb(241, 244, 248);
    border: 1px solid rgb(168, 166, 166);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}
.Card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 18vh;
}
#button {
    width: 90px;
    height: 45px;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: rgb(245, 245, 245);
    border-color: rgb(238, 238, 238);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}
#button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}